@model ProjectWeb.Models.RegisterModel
@{
    ViewBag.Title = "FailRegister";
}

<h1>FailRegister</h1>

<p style="text-align:center;font-size: larger;">Tài khoản đã tồn tại</p>

<div class="cleaner_with_height">&nbsp;</div>

